{% load static %}
{% load user_extras %}
<nav class="navbar navbar-dark fixed-top d-block">
    <div class="container-fluid">
        <div>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'enspd_home' %}">Acceuil</a>
                    </li>
                    {% if user.is_authenticated %}
                    {% if not user.is_staff %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile' %}">Profils</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Annonces</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Messages</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'dashboard' %}">DashBoard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Annonces</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Messages</a>
                    </li>
                    {% endif %}
                    {% endif %}
                    <!-- <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li> -->
                </ul>
                <!-- <form class="d-flex mt-3" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form> -->

                {% if user.is_authenticated %}
                <div id="personal-info" class="d-flex flex-column justify-content-center align-items-center mt-5">
                    <img src="{{ request.user|get_profile_picture }}" alt="" id="navbar-profile-picture" class="mb-3">
                    <div class="d-flex justify-content-center align-items-center flex-column">
                        <span>{{ user.first_name }} {{ user.last_name }}</span>
                        <span>{{ user.user_mat }}</span>
                    </div>
                    <a href="{% url 'logout' %}" class="btn btn-outline-secondary">Log Out</a>
                </div>
                {% else %}
                <div>
                    <a href="{% url 'signup' %}" class="btn btn-outline-warning">Log In</a>
                    <a href="" class="btn btn-success">Register</a>
                </div>
                {% endif %}
            </div>
        </div>
        <a class="navbar-brand" href="#">
            <img src="{% static 'img/ENSPD_logo.png' %}" alt="" id="home-logo">
            <span>Portail ENSPD</span>
        </a>
        <button id="calendar-button" class="btn btn-outline-success me-auto" onclick="showCalendar()">calendar</button>
        </div>
    </div>
</nav>