{% load static %}
<div class="card me-4 mb-3" style="width: 25rem;">
    <img src="{% static 'img/event-1.jpg' %}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Coupe du directeur</h5>
        <p class="card-text d-flex justify-content-end"><em class="">17-05-2023</em></p>
    </div>
</div>
<div class="card me-4 mb-3" style="width: 25rem;">
    <img src="{% static 'img/event-2.jpg' %}" class="card-img-top" alt="...">
    <div class="card-body bg-">
        <h5 class="card-title">Visite Guide ODC</h5>
        <p class="card-text d-flex justify-content-end"><em class="">17-05-2023</em></p>
    </div>
</div>
<div class="card me-4 mb-3" style="width: 25rem;">
    <img src="{% static 'img/event-3.jpg' %}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Symposium VDG</h5>
        <p class="card-text d-flex justify-content-end"><em class="">17-05-2023</em></p>
    </div>
</div>
<div class="card me-4 mb-3" style="width: 25rem;">
    <img src="{% static 'img/event-4.jpg' %}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">SEFIE 2023</h5>
        <p class="card-text d-flex justify-content-end"><em class="">17-05-2023</em></p>
    </div>
</div>
